<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{sale.label.mat_name}"> </title>

</head>

<body>
<div layout:fragment="content">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform" >
            <h3 class="section-title" th:text="${add} ? #{sale.label.create} : #{sale.label.update}"></h3>
            <p th:text="${add} ? #{sale.label.create_desc} : #{sale.label.update_desc}"></p>
        </div>
        <div class="card">
            <div class="card-body">
                <form action="#" th:action="${add} ? @{create} : '/organization/' + ${orgId} + '/sale/update/' + ${sale.id}"  th:object="${sale}" method="POST">
                    <div class="form-group">
                        <div th:if="${!add}" class="form-group" >
                            <label data-allow-clear="0" class="text-dark font-bold col-form-label col-form-label" for="input-select_org" data-th-text="#{label.org_name}"></label>
                            <select th:field="*{organizationId}" class="form-control" id="input-select_org" >
                                <option th:value="${sale.organizationId}" th:text="${sale.organizationName}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-dark font-bold col-form-label col-form-label" for="input-select" data-th-text="#{sale.label.user}"></label>
                            <select th:field="*{clientId}" class="form-control" id="input-select" >
                                <option th:if="${!add}" th:value="${sale.clientId}" th:text="${sale.clientFirstName} + ' ' + ${sale.clientLastName}"></option>
                                <option th:if="${add}" th:each="client : ${clients}"
                                        th:value="${client.id}" th:text="${client.firstName} + ' ' + ${client.lastName}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="text-dark font-bold col-form-label col-form-label" for="input-date" data-th-text="#{sale.label.date}"></label>
                            <input th:value="${sale} ? ${sale.updatedDate} : '0' " th:field="*{updatedDate}" id="input-date" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark font-bold col-form-label col-form-label" for="status-select" data-th-text="#{sale.label.status}"></label>
                            <select class="form-control" id="status-select" th:field="*{salesStatus}">
                                <option th:each="status : ${T(kg.tezal.tezal_back.enums.OrderStatus).values()}"
                                        th:selected="${sale.getOrdersStatus()} == ${status} ? true : false"
                                        th:value="${status}" th:text="${status}">
                                </option>
                            </select>
                        </div>

                    <div class="m-b-20">
                        <button th:text=" ${add} ? #{button.label.create} : #{button.label.update}"
                                th:class="${'Create'} ? 'btn btn-info' : 'btn btn-success' "
                                type="submit" class="btn btn-success" data-toggle="tooltip"
                                data-placement="top" title="Tooltip on top">Create
                        </button>

                        <a th:if="${!add}" type="button" style="color: white;" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal " data-th-text="#{button.label.delete}"></a>

                    </div>
<!--                        Order materials-->
                        <!-- Modal -->
                        <div th:if="${!add}" class="modal fade" tabindex="-1" id="delete_modal" role="dialog" aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="recordDeleteModalLabel" data-th-text="#{button.label.delete_message}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label data-th-text="#{label.confirm_to_delete}"></label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-th-text="#{label.no}"></button>
                                        <a class="btn btn-danger" th:href="@{'/organization/' + ${orgId}  + '/sale/delete/' + ${sale.id}}" data-th-text="#{label.yes}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- end profile -->
    <!-- ============================================================== -->
</div>
</body>
</html>
